{{log 'effects-template' this}}
<form>
  <li class="items-header change-header flexrow">
    <h3 class="item-name flexrow">Changes <a class="help-browser" data-url="systems/pf1/help/items/concepts/changes.hbs"><i class="far fa-question-circle"></i></a></h3>
    <div class="item-operator flexrow">Operator</div>
    <div class="item-target flexrow">Target</div>
    <div class="item-modifier flexrow">Modifier</div>
    <div class="item-priority flexrow" title="Priority"><i class="fas fa-sort"></i></div>

    <div class="item-controls basic flexrow">
      <a class="item-control item-create change-control add-change">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </li>

  <ol class="items-list changes">
	{{#each effects}}
		<li class="item change flexrow" data-change="52we25yq">
			<div class="item-name item-formula flexrow">
				<input class="change-formula formula" type="text" name="data.changes.{{@index}}.formula" value="{{this.formula}}" placeholder="Formula" required="">
			</div>

			<div class="item-operator flexrow">
				<select class="change-operator" name="data.changes.{{@index}}.operator">
					<option value="add"{{#ifEquals this.operator "add"}} selected{{/ifEquals}}>+</option>
					<option value="set"{{#ifEquals this.operator "="}} selected{{/ifEquals}}>=</option>
					<option value="script"{{#ifEquals this.operator "S"}} selected{{/ifEquals}}>S</option>
				</select>
			</div>

			<div class="item-target flexrow">
				<span class="change-target invalid"></span>
			</div>

			<div class="item-modifier flexrow">
				<select class="change-modifier" name="data.changes.{{@index}}.modifier">
					<option value="untyped"{{#ifEquals this.modifier "untyped"}} selected{{/ifEquals}}>Untyped</option>
					<option value="untypedPerm"{{#ifEquals this.modifier "untypedPerm"}} selected{{/ifEquals}}>Untyped (Permanent)</option>
					<option value="base"{{#ifEquals this.modifier "base"}} selected{{/ifEquals}}>Base</option>
					<option value="enh"{{#ifEquals this.modifier "enh"}} selected{{/ifEquals}}>Enhancement</option>
					<option value="dodge"{{#ifEquals this.modifier "dodge"}} selected{{/ifEquals}}>Dodge</option>
					<option value="inherent"{{#ifEquals this.modifier "inherent"}} selected{{/ifEquals}}>Inherent</option>
					<option value="deflection"{{#ifEquals this.modifier "deflection"}} selected{{/ifEquals}}>Deflection</option>
					<option value="morale"{{#ifEquals this.modifier "morale"}} selected{{/ifEquals}}>Morale</option>
					<option value="luck"{{#ifEquals this.modifier "luck"}} selected{{/ifEquals}}>Luck</option>
					<option value="sacred"{{#ifEquals this.modifier "sacred"}} selected{{/ifEquals}}>Sacred</option>
					<option value="insight"{{#ifEquals this.modifier "insight"}} selected{{/ifEquals}}>Insight</option>
					<option value="resist"{{#ifEquals this.modifier "resist"}} selected{{/ifEquals}}>Resistance</option>
					<option value="profane"{{#ifEquals this.modifier "profane"}} selected{{/ifEquals}}>Profane</option>
					<option value="trait"{{#ifEquals this.modifier "trait"}} selected{{/ifEquals}}>Trait</option>
					<option value="racial"{{#ifEquals this.modifier "racial"}} selected{{/ifEquals}}>Racial</option>
					<option value="size"{{#ifEquals this.modifier "size"}} selected{{/ifEquals}}>Size</option>
					<option value="competence"{{#ifEquals this.modifier "competence"}} selected{{/ifEquals}}>Competence</option>
					<option value="circumstance"{{#ifEquals this.modifier "circumstance"}} selected{{/ifEquals}}>Circumstance</option>
					<option value="alchemical"{{#ifEquals this.modifier "alchemical"}} selected{{/ifEquals}}>Alchemical</option>
					<option value="penalty"{{#ifEquals this.modifier "penalty"}} selected{{/ifEquals}}>Penalty</option>
				</select>
			</div>
			
			<div class="item-priority flexrow">
				<input class="change-priority" type="text" data-dtype="Number" name="data.changes.{{@index}}.priority" value=""{{this.priority}}"" placeholder="0">
			</div>

			<div class="item-controls flexrow basic">
				<a class="item-control change-control delete-change"><i class="fas fa-trash"></i></a>
			</div>
		</li>
	{{/each}}
  </ol>
</form>