{{log 'effects-template' this}}
<form>
  <li class="items-header change-header flexrow">
    <h3 class="item-name flexrow">Changes <a class="help-browser" data-url="systems/pf1/help/items/concepts/changes.hbs"><i class="far fa-question-circle"></i></a></h3>
    <div class="item-operator flexrow">Operator</div>
    <div class="item-target flexrow">Target</div>
    <div class="item-modifier flexrow">Modifier</div>
    <div class="item-priority flexrow" title="Priority"><i class="fas fa-sort"></i></div>

    <div class="item-controls basic flexrow">
      <a class="item-control item-create change-control add-change">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </li>

  <ol class="items-list changes">
	{{#each effects}}
		<li class="item change flexrow" data-change="52we25yq">
			<div class="item-name item-formula flexrow">
				<input class="change-formula formula" type="text" name="data.changes.{{@index}}.formula" value="{{this.formula}}" placeholder="Formula" required="">
			</div>

			<div class="item-operator flexrow">
				<select class="change-operator" name="data.changes.{{@index}}.operator">
					<option value="add"{{this.operator=="add"?" selected"}}>+</option>
					<option value="set"{{this.operator=="="?" selected"}}>=</option>
					<option value="script"{{this.operator=="S"?" selected"}}>S</option>
				</select>
			</div>

			<div class="item-target flexrow">
				<span class="change-target invalid"></span>
			</div>

			<div class="item-modifier flexrow">
				<select class="change-modifier" name="data.changes.{{@index}}.modifier">
					<option value="untyped"{{this.modifier=="untyped"?" selected"}}>Untyped</option>
					<option value="untypedPerm"{{this.modifier=="untypedPerm"?" selected"}}>Untyped (Permanent)</option>
					<option value="base"{{this.modifier=="base"?" selected"}}>Base</option>
					<option value="enh"{{this.modifier=="enh"?" selected"}}>Enhancement</option>
					<option value="dodge"{{this.modifier=="dodge"?" selected"}}>Dodge</option>
					<option value="inherent"{{this.modifier=="inherent"?" selected"}}>Inherent</option>
					<option value="deflection"{{this.modifier=="deflection"?" selected"}}>Deflection</option>
					<option value="morale"{{this.modifier=="morale"?" selected"}}>Morale</option>
					<option value="luck"{{this.modifier=="luck"?" selected"}}>Luck</option>
					<option value="sacred"{{this.modifier=="sacred"?" selected"}}>Sacred</option>
					<option value="insight"{{this.modifier=="insight"?" selected"}}>Insight</option>
					<option value="resist"{{this.modifier=="resist"?" selected"}}>Resistance</option>
					<option value="profane"{{this.modifier=="profane"?" selected"}}>Profane</option>
					<option value="trait"{{this.modifier=="trait"?" selected"}}>Trait</option>
					<option value="racial"{{this.modifier=="racial"?" selected"}}>Racial</option>
					<option value="size"{{this.modifier=="size"?" selected"}}>Size</option>
					<option value="competence"{{this.modifier=="competence"?" selected"}}>Competence</option>
					<option value="circumstance"{{this.modifier=="circumstance"?" selected"}}>Circumstance</option>
					<option value="alchemical"{{this.modifier=="alchemical"?" selected"}}>Alchemical</option>
					<option value="penalty"{{this.modifier=="penalty"?" selected"}}>Penalty</option>
				</select>
			</div>
			
			<div class="item-priority flexrow">
				<input class="change-priority" type="text" data-dtype="Number" name="data.changes.{{@index}}.priority" value=""{{this.priority}}"" placeholder="0">
			</div>

			<div class="item-controls flexrow basic">
				<a class="item-control change-control delete-change"><i class="fas fa-trash"></i></a>
			</div>
		</li>
	{{/each}}
  </ol>
</form>